Tesis/tesis.pdf
Tesis/.DS_Store
Tesis/abs_esp.log
Tesis/agradecimientos.log
Tesis/conclusiones.log
Tesis/fundamentos.log
Tesis/intro.log
Tesis/mathtools.log
Tesis/problema.log
Tesis/resultados.log
Tesis/tesis.aux
Tesis/tesis.blg
Tesis/tesis.log
Tesis/tesis.toc
Ejemplos/Francisco.pdf
Ejemplos/Leandro.pdf